<a href="https://colab.research.google.com/github/db050915/DS_Mentors_Project/blob/main/Retail_Order_Analysis_Project_Workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (1.7.4.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2025.1.31)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.11/dist-packages (from kaggle) (3.4.1)
Requirement already satisfied: idna in /usr/local/lib/python3.11/dist-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in /usr/local/lib/python3.11/dist-packages (from kaggle) (5.29.3)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.11/dist-packages (from kaggle) (75.1.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.3.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from kaggle) (0.5.1)

In [2]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 10, in <module>
    sys.exit(main())
             ^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/kaggle/cli.py", line 68, in main
    out = args.func(**command_args)
          ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/kaggle/api/kaggle_api_extended.py", line 1734, in dataset_download_cli
    with self.build_kaggle_client() as kaggle:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/kaggle/api/kaggle_api_extended.py", line 688, in build_kaggle_client
    username=self.config_values['username'],
             ~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^
KeyError: 'username'

In [4]:
import zipfile
import os

with zipfile.ZipFile('/orders.csv.zip', 'r') as zip:
    zip.extractall('./')

In [5]:
import pandas as pd
project1 = pd.read_csv('/content/orders.csv')

In [6]:
project1

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [7]:
project1.columns = project1.columns.str.lower() #lowercasing_columnnames
project1.columns = project1.columns.str.replace(' ', '_') #replacing space with '_'
project1.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [8]:
project1['ship_mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [9]:
project1['ship_mode']=project1['ship_mode'].replace('Not Available','0') #Making missing data no:1 as zero"0"
project1['ship_mode']=project1['ship_mode'].replace('unknown','0') #Making missing data no:2 as zero"0"

In [10]:
project1['ship_mode'].unique()

array(['Second Class', 'Standard Class', '0', 'First Class', nan,
       'Same Day'], dtype=object)

In [11]:
import numpy as np

In [12]:
project1['ship_mode']=project1['ship_mode'].replace(np.nan,'0') #Making NaN values as zero"0"

In [13]:
project1['ship_mode'].unique()

array(['Second Class', 'Standard Class', '0', 'First Class', 'Same Day'],
      dtype=object)

In [14]:
print(project1.isnull().sum())

order_id            0
order_date          0
ship_mode           0
segment             0
country             0
city                0
state               0
postal_code         0
region              0
category            0
sub_category        0
product_id          0
cost_price          0
list_price          0
quantity            0
discount_percent    0
dtype: int64

In [15]:
project1['discount_amount']=project1['list_price']*project1['discount_percent']/100 #Discount_amount
project1['sale_price']=project1['list_price']-project1['discount_amount'] #Sale_price
project1['profit']=project1['sale_price']-project1['cost_price'] #Profit

In [16]:
display(project1)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount_amount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [17]:
project1.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent', 'discount_amount', 'sale_price', 'profit'],
      dtype='object')

In [18]:
order_table1 = project1[['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city', 'state', 'postal_code', 'region', 'category']]
order_table2 = project1[[ 'order_id', 'sub_category','product_id', 'cost_price', 'list_price', 'quantity','discount_percent', 'discount_amount', 'sale_price', 'profit']]

In [19]:
#order_table1.to_csv('order_table1.csv')
#order_table2.to_csv('order_table2.csv')  #USED THIS Code to extract this file in local file, then to upload those files in Tidb cloud

In [20]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl (34.0 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 34.0/34.0 MB 49.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [21]:
import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "42gLBzNbmFpVnrp.root",
  password = "M4zJcGITE38JycpJ",
  database = "Retail_Order_Analysis",
)

In [22]:
mycursor=connection.cursor()

In [23]:
!pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.11/dist-packages (0.9.0)

In [24]:
#1.Find top 10 highest revenue generating products

mycursor.execute('''SELECT product_id, SUM(sale_price) AS total_revenue FROM order_table2 GROUP BY product_id
ORDER BY total_revenue DESC LIMIT 10;''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-----------------+-----------------+
| product_id      |   total_revenue |
|-----------------+-----------------|
| TEC-CO-10004722 |         59514   |
| OFF-BI-10003527 |         26525.3 |
| TEC-MA-10002412 |         21734.4 |
| FUR-CH-10002024 |         21096.2 |
| OFF-BI-10001359 |         19090.2 |
| OFF-BI-10000545 |         18249   |
| TEC-CO-10001449 |         18151.2 |
| TEC-MA-10001127 |         17906.4 |
| OFF-BI-10004995 |         17354.8 |
| OFF-SU-10000151 |         16325.8 |
+-----------------+-----------------+

In [25]:
# 2.Find the top 5 cities with the highest profit margins

mycursor.execute('''SELECT city, SUM(profit) AS total_profit FROM order_table1 JOIN order_table2 ON order_table1.order_id = order_table2.order_id
GROUP BY city ORDER BY total_profit DESC LIMIT 5;''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+---------------+----------------+
| city          |   total_profit |
|---------------+----------------|
| New York City |        20925.7 |
| Los Angeles   |        15088.4 |
| San Francisco |        10140.1 |
| Seattle       |         9828.7 |
| Philadelphia  |         9788.3 |
+---------------+----------------+

In [26]:
#3.Calculate the total discount given for each category

mycursor.execute('''SELECT category, SUM(discount_amount) AS total_discount FROM order_table1
JOIN order_table2 ON order_table1.order_id = order_table2.order_id
GROUP BY category;''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-----------------+------------------+
| category        |   total_discount |
|-----------------+------------------|
| Office Supplies |          24935.5 |
| Technology      |          29346.5 |
| Furniture       |          26049.3 |
+-----------------+------------------+

In [27]:
#4.Find the average sale price per product category

mycursor.execute('''SELECT category, AVG(sale_price) AS average_sale_price FROM Retail_order_analysis.order_table2 JOIN order_table1 ON order_table2.order_id = order_table1.order_id
GROUP BY category;''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-----------------+----------------------+
| category        |   average_sale_price |
|-----------------+----------------------|
| Technology      |              436.856 |
| Furniture       |              337.266 |
| Office Supplies |              115.109 |
+-----------------+----------------------+

In [28]:
#5.Find the region with the highest average sale price

mycursor.execute('''SELECT region, AVG(sale_price) AS avg_sale_price FROM Retail_order_analysis.order_table2 JOIN order_table1 ON order_table2.order_id = order_table1.order_id
GROUP BY region;''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+----------+------------------+
| region   |   avg_sale_price |
|----------+------------------|
| South    |          233.34  |
| Central  |          208.209 |
| East     |          229.747 |
| West     |          218.501 |
+----------+------------------+

In [29]:
# 6.Find the total profit per category

mycursor.execute('''SELECT category, sum(profit) as overall_profit FROM Retail_order_analysis.order_table2 JOIN order_table1 ON order_table2.order_id = order_table1.order_id
GROUP BY category;''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-----------------+------------------+
| category        |   overall_profit |
|-----------------+------------------|
| Office Supplies |          62254.5 |
| Technology      |          76433.5 |
| Furniture       |          66480.7 |
+-----------------+------------------+

In [30]:
#7.Identify the top 3 segments with the highest quantity of orders

mycursor.execute('''SELECT segment, SUM(quantity) AS total_quantity FROM Retail_order_analysis.order_table2 JOIN order_table1 ON order_table2.order_id = order_table1.order_id
GROUP BY segment ORDER BY total_quantity DESC LIMIT 3;''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-------------+------------------+
| segment     |   total_quantity |
|-------------+------------------|
| Consumer    |            19521 |
| Corporate   |            11608 |
| Home Office |             6744 |
+-------------+------------------+

In [31]:
# 8.Determine the average discount percentage given per region

mycursor.execute('''SELECT region, AVG(discount_percent) AS avg_discount_percent FROM Retail_order_analysis.order_table2
JOIN order_table1 ON order_table2.order_id = order_table1.order_id
GROUP BY region;''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+----------+------------------------+
| region   |   avg_discount_percent |
|----------+------------------------|
| West     |                 3.4849 |
| East     |                 3.4937 |
| Central  |                 3.4722 |
| South    |                 3.4827 |
+----------+------------------------+

In [32]:
# 9.Find the product category with the highest total profit

mycursor.execute('''SELECT sub_category as product_category, SUM(profit) AS total_profit FROM Retail_order_analysis.order_table2
GROUP BY sub_category;''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+--------------------+----------------+
| product_category   |   total_profit |
|--------------------+----------------|
| Machines           |        18121.7 |
| Envelopes          |         1247.2 |
| Tables             |        18591.2 |
| Furnishings        |         7578.3 |
| Chairs             |        29815.1 |
| Accessories        |        15444.6 |
| Appliances         |        10267.7 |
| Bookcases          |        10496.1 |
| Binders            |        19208.6 |
| Storage            |        19538   |
| Phones             |        28368.3 |
| Fasteners          |           48.9 |
| Paper              |         6001.3 |
| Copiers            |        14498.9 |
| Art                |         1859.8 |
| Supplies           |         3438.1 |
| Labels             |          644.9 |
+--------------------+----------------+

In [33]:
#10.Calculate the total revenue generated per year
mycursor.execute('''SELECT YEAR(order_date) AS order_year, CONCAT('$', FORMAT(SUM(sale_price), 2))AS total_revenue
FROM Retail_order_analysis.order_table2 JOIN order_table1 ON order_table2.order_id = order_table1.order_id
 GROUP BY YEAR(order_date);''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+--------------+-----------------+
|   order_year | total_revenue   |
|--------------+-----------------|
|         2022 | $1,095,590.20   |
|         2023 | $1,120,268.50   |
+--------------+-----------------+

In [34]:
# 11.Find the top 5 states with the highest phone sales

mycursor.execute('''SELECT state, SUM(quantity) AS total_phone_sales
FROM Retail_order_analysis.order_table2 JOIN order_table1 ON order_table2.order_id = order_table1.order_id
WHERE sub_category = 'Phones' GROUP BY state ORDER BY total_phone_sales DESC LIMIT 5;''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+--------------+---------------------+
| state        |   total_phone_sales |
|--------------+---------------------|
| California   |                 691 |
| New York     |                 393 |
| Texas        |                 315 |
| Pennsylvania |                 235 |
| Ohio         |                 179 |
+--------------+---------------------+

In [35]:
# 12.Find the product which has highest profit

mycursor.execute('''SELECT product_id, SUM(profit) AS total_profit FROM Retail_order_analysis.order_table2
GROUP BY product_id order by total_profit DESC LIMIT 1;''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+-----------------+----------------+
| product_id      |   total_profit |
|-----------------+----------------|
| TEC-CO-10004722 |           5644 |
+-----------------+----------------+

In [36]:
#13.Categorize the profit of each product category

mycursor.execute('''SELECT sub_category, SUM(profit) AS total_profit,
CASE
    WHEN SUM(profit) > 25000 then 'High Profit'
    WHEN SUM(profit) > 10000 then 'Medium Profit'
    ELSE 'Low Profit'
END AS profit_category
FROM Retail_order_analysis.order_table2
GROUP BY sub_category order by total_profit;''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+----------------+----------------+-------------------+
| sub_category   |   total_profit | profit_category   |
|----------------+----------------+-------------------|
| Fasteners      |           48.9 | Low Profit        |
| Labels         |          644.9 | Low Profit        |
| Envelopes      |         1247.2 | Low Profit        |
| Art            |         1859.8 | Low Profit        |
| Supplies       |         3438.1 | Low Profit        |
| Paper          |         6001.3 | Low Profit        |
| Furnishings    |         7578.3 | Low Profit        |
| Appliances     |        10267.7 | Medium Profit     |
| Bookcases      |        10496.1 | Medium Profit     |
| Copiers        |        14498.9 | Medium Profit     |
| Accessories    |        15444.6 | Medium Profit     |
| Machines       |        18121.7 | Medium Profit     |
| Tables         |        18591.2 | Medium Profit     |
| Binders        |        19208.6 | Medium Profit     |
| Storage        |        19538   | Medium Profit     |
| Phones         |        28368.3 | High Profit       |
| Chairs         |        29815.1 | High Profit       |
+----------------+----------------+-------------------+

In [37]:
#14.Find the number of shipping mode as categorized

mycursor.execute('''SELECT ship_mode, COUNT(*) AS mode_count FROM Retail_order_analysis.order_table1 GROUP BY ship_mode;''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+----------------+--------------+
| ship_mode      |   mode_count |
|----------------+--------------|
| Same Day       |          543 |
| Standard Class |         5962 |
| 0              |            6 |
| Second Class   |         1945 |
| First Class    |         1538 |
+----------------+--------------+

In [38]:
#15.Find the products in different shipping mode

mycursor.execute('''SELECT ship_mode, COUNT(DISTINCT product_id) AS product_count FROM Retail_order_analysis.order_table1
JOIN Retail_order_analysis.order_table2 ON order_table1.order_id = order_table2.order_id
GROUP BY ship_mode;''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+----------------+-----------------+
| ship_mode      |   product_count |
|----------------+-----------------|
| Second Class   |            1206 |
| Standard Class |            1773 |
| 0              |               6 |
| First Class    |            1053 |
| Same Day       |             468 |
+----------------+-----------------+

In [39]:
#16. Find the highest product which is ordered

mycursor.execute('''SELECT category as product, SUM(quantity) AS total_quantity FROM Retail_order_analysis.order_table2
JOIN Retail_order_analysis.order_table1 ON order_table2.order_id = order_table1.order_id
GROUP BY category ORDER BY total_quantity DESC LIMIT 1;''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+-----------------+------------------+
| product         |   total_quantity |
|-----------------+------------------|
| Office Supplies |            22906 |
+-----------------+------------------+

In [40]:
#17. Find the profit from the Table product

mycursor.execute('''SELECT sub_category as product, SUM(profit) AS total_profit FROM Retail_order_analysis.order_table2
WHERE sub_category = 'Tables' GROUP BY sub_category;''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+-----------+----------------+
| product   |   total_profit |
|-----------+----------------|
| Tables    |        18591.2 |
+-----------+----------------+

In [41]:
#18. Find the sales quantity of paper in san fransisco

mycursor.execute('''SELECT sub_category as product, SUM(quantity) AS Total_quantity FROM Retail_order_analysis.order_table2
JOIN Retail_order_analysis.order_table1 ON order_table2.order_id = order_table1.order_id
WHERE sub_category = 'Paper' AND city = 'San Francisco';''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+-----------+------------------+
| product   |   Total_quantity |
|-----------+------------------|
| Paper     |              282 |
+-----------+------------------+

In [42]:
#19. find the postal code & city of top 5 sales in Art order

mycursor.execute('''SELECT postal_code, city, SUM(quantity) AS Total_quantity FROM Retail_order_analysis.order_table2
JOIN Retail_order_analysis.order_table1 ON order_table2.order_id = order_table1.order_id
WHERE sub_category = 'Art' GROUP BY postal_code, city ORDER BY Total_quantity DESC LIMIT 5;''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+---------------+---------------+------------------+
|   postal_code | city          |   Total_quantity |
|---------------+---------------+------------------|
|         94122 | San Francisco |               91 |
|         10009 | New York City |               84 |
|         10035 | New York City |               83 |
|         90049 | Los Angeles   |               61 |
|         10024 | New York City |               50 |
+---------------+---------------+------------------+

In [43]:
#20. Check how much accessories have been purchased by Consumer

mycursor.execute('''SELECT segment, COUNT(*) sub_category FROM Retail_order_analysis.order_table2
JOIN Retail_order_analysis.order_table1 ON order_table2.order_id = order_table1.order_id
WHERE segment = 'Consumer' AND sub_category = 'Accessories';''')
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+-----------+----------------+
| segment   |   sub_category |
|-----------+----------------|
| Consumer  |            408 |
+-----------+----------------+

In [44]:
!pip install streamlit

Collecting streamlit
  Downloading streamlit-1.43.2-py2.py3-none-any.whl.metadata (8.9 kB)
Requirement already satisfied: altair<6,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (8.1.8)
Requirement already satisfied: numpy<3,>=1.23 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.0.2)
Requirement already satisfied: packaging<25,>=20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (24.2)
Requirement already satisfied: pandas<3,>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<12,>=7.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (11.1.0)
Requirement already satisfied: protobuf<6,>=3.20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.29.3)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.11/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (4.12.2)
Collecting watchdog<7,>=2.1.5 (from streamlit)
  Downloading watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl.metadata (44 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 44.3/44.3 kB 2.5 MB/s eta 0:00:00
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.11/dist-packages (from streamlit) (3.1.44)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Downloading pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado<7,>=6.0.3 in /usr/local/lib/python3.11/dist-packages (from streamlit) (6.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (1.31.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.11/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2025.1.31)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.11/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.23.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)
Downloading streamlit-1.43.2-py2.py3-none-any.whl (9.7 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 9.7/9.7 MB 21.7 MB/s eta 0:00:00
Downloading pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 6.9/6.9 MB 32.0 MB/s eta 0:00:00
Downloading watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl (79 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 79.1/79.1 kB 5.0 MB/s eta 0:00:00
Installing collected packages: watchdog, pydeck, streamlit
Successfully installed pydeck-0.9.1 streamlit-1.43.2 watchdog-6.0.0

In [78]:
#Streamlit
%%writefile app.py
import streamlit as st
import pandas as pd
import mysql.connector
from tabulate import tabulate

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "42gLBzNbmFpVnrp.root",
  password = "M4zJcGITE38JycpJ",
  database = "Retail_Order_Analysis",
)

mycursor = connection.cursor()


st.title("Retail Order Analysis")
st.subheader("Choose a Internal Mentor Query")
question = st.selectbox(
    "Select a Question",
    [
        "Find top 10 highest revenue generating products",
        "Find the top 5 cities with the highest profit margins",
        "Calculate the total discount given for each category",
        "Find the average sale price per product category",
        "Find the region with the highest average sale price",
        "Find the total profit per category",
        "Identify the top 3 segments with the highest quantity of orders",
        "Determine the average discount percentage given per region",
        "Find the product category with the highest total profit",
        "Calculate the total revenue generated per year"
    ]
)

sql_queries = {
    "Find top 10 highest revenue generating products": '''SELECT product_id, SUM(sale_price) AS total_revenue FROM order_table2
    GROUP BY product_id ORDER BY total_revenue DESC LIMIT 10;''',
    "Find the top 5 cities with the highest profit margins":'''SELECT city, SUM(profit) AS total_profit FROM order_table1
    JOIN order_table2 ON order_table1.order_id = order_table2.order_id GROUP BY city ORDER BY total_profit DESC LIMIT 5;''',
    "Calculate the total discount given for each category": '''SELECT category, SUM(discount_amount) AS total_discount FROM order_table1
    JOIN order_table2 ON order_table1.order_id = order_table2.order_id GROUP BY category;''',
    "Find the average sale price per product category": '''SELECT category, AVG(sale_price) AS average_sale_price
    FROM Retail_order_analysis.order_table2 JOIN order_table1 ON order_table2.order_id = order_table1.order_id GROUP BY category;''',
    "Find the region with the highest average sale price": '''SELECT region, AVG(sale_price) AS avg_sale_price FROM Retail_order_analysis.order_table2
    JOIN order_table1 ON order_table2.order_id = order_table1.order_id GROUP BY region;''',
    "Find the total profit per category": '''SELECT category, sum(profit) as overall_profit FROM Retail_order_analysis.order_table2
    JOIN order_table1 ON order_table2.order_id = order_table1.order_id GROUP BY category;''',
    "Identify the top 3 segments with the highest quantity of orders": '''SELECT segment, SUM(quantity) AS total_quantity FROM Retail_order_analysis.order_table2
    JOIN order_table1 ON order_table2.order_id = order_table1.order_id GROUP BY segment ORDER BY total_quantity DESC LIMIT 3;''',
    "Determine the average discount percentage given per region": '''SELECT region, AVG(discount_percent) AS avg_discount_percent FROM Retail_order_analysis.order_table2
    JOIN order_table1 ON order_table2.order_id = order_table1.order_id GROUP BY region;''',
    "Find the product category with the highest total profit": '''SELECT sub_category as product_category, SUM(profit) AS total_profit FROM Retail_order_analysis.order_table2
    GROUP BY sub_category;''',
    "Calculate the total revenue generated per year": '''SELECT YEAR(order_date) AS order_year, CONCAT('$', FORMAT(SUM(sale_price), 2))AS total_revenue
    FROM Retail_order_analysis.order_table2 JOIN order_table1 ON order_table2.order_id = order_table1.order_id GROUP BY YEAR(order_date);'''
}

st.code(sql_queries[question], language="sql")

def run_query(query):
    mycursor.execute(query)
    columns = [col[0] for col in mycursor.description]
    data = mycursor.fetchall()
    return pd.DataFrame(data, columns=columns)

if st.button("Run Query"):
    result = run_query(sql_queries[question])
    if not result.empty:
        st.write("### Result:")
        st.dataframe(result)
    else:
        st.write("No data found.")

#Learner Queries
st.subheader("Choose a Learner Query")
question1 = st.selectbox(
    "Select a Question",
    [
        "Find the top 5 state with the highest phone sales",
        "Find the product which has highest profit",
        "Categorize the profit of each product category",
        "Find the number of shipping mode as categorized",
        "Find the products in different shipping mode",
        "Find the highest product which is ordered",
        "Find the profit from the Table product",
        "Find the sales quantity of paper in san fransisco",
        "Find the postal code & city of top 5 sales in Art order",
        "Check how much accessories have been purchased by Consumer"
    ]
)

sql_queries1 = {
    "Find the top 5 state with the highest phone sales": '''SELECT state, SUM(quantity) AS total_phone_sales
    FROM Retail_order_analysis.order_table2 JOIN order_table1 ON order_table2.order_id = order_table1.order_id
    WHERE sub_category = 'Phones' GROUP BY state ORDER BY total_phone_sales DESC LIMIT 5;''',
    "Find the product which has highest profit": '''SELECT product_id, SUM(profit) AS total_profit
    FROM Retail_order_analysis.order_table2 GROUP BY product_id order by total_profit DESC LIMIT 1;''',
    "Categorize the profit of each product category": '''SELECT sub_category, SUM(profit) AS total_profit,
    CASE
    WHEN SUM(profit) > 25000 then 'High Profit'
    WHEN SUM(profit) > 10000 then 'Medium Profit'
    ELSE 'Low Profit' END AS profit_category FROM Retail_order_analysis.order_table2 GROUP BY sub_category order by total_profit;''',
    "Find the number of shipping mode as categorized": '''SELECT ship_mode, COUNT(*) AS mode_count FROM Retail_order_analysis.order_table1
    GROUP BY ship_mode;''',
    "Find the products in different shipping mode": '''SELECT ship_mode, COUNT(DISTINCT product_id) AS product_count
    FROM Retail_order_analysis.order_table1 JOIN Retail_order_analysis.order_table2 ON order_table1.order_id = order_table2.order_id
    GROUP BY ship_mode;''',
    "Find the highest product which is ordered": '''SELECT category as product, SUM(quantity) AS total_quantity FROM Retail_order_analysis.order_table2
    JOIN Retail_order_analysis.order_table1 ON order_table2.order_id = order_table1.order_id
    GROUP BY category ORDER BY total_quantity DESC LIMIT 1;''',
    "Find the profit from the Table product": '''SELECT sub_category as product, SUM(profit) AS total_profit FROM Retail_order_analysis.order_table2
    WHERE sub_category = 'Tables' GROUP BY sub_category;''',
    "Find the sales quantity of paper in san fransisco": '''SELECT sub_category as product, SUM(quantity) AS Total_quantity
    FROM Retail_order_analysis.order_table2 JOIN Retail_order_analysis.order_table1 ON order_table2.order_id = order_table1.order_id
    WHERE sub_category = 'Paper' AND city = 'San Francisco';''',
    "Find the postal code & city of top 5 sales in Art order": '''SELECT postal_code, city, SUM(quantity) AS Total_quantity
    FROM Retail_order_analysis.order_table2 JOIN Retail_order_analysis.order_table1 ON order_table2.order_id = order_table1.order_id
    WHERE sub_category = 'Art' GROUP BY postal_code, city ORDER BY Total_quantity DESC LIMIT 5;''',
    "Check how much accessories have been purchased by Consumer": '''SELECT segment, COUNT(*) sub_category FROM Retail_order_analysis.order_table2
    JOIN Retail_order_analysis.order_table1 ON order_table2.order_id = order_table1.order_id WHERE segment = 'Consumer' AND sub_category = 'Accessories';'''
}

st.code(sql_queries1[question1], language="sql")

def run_query1(query):
    mycursor.execute(query)
    columns = [col[0] for col in mycursor.description]
    data = mycursor.fetchall()
    return pd.DataFrame(data, columns=columns)

if st.button("Run Query", key="predefined_query"):
    result = run_query(sql_queries1[question1])
    if not result.empty:
        st.write("### Result:")
        st.dataframe(result)
    else:
        st.write("No data found.")

Overwriting app.py

In [54]:
!streamlit run app.py

Collecting usage statistics. To deactivate, set browser.gatherUsageStats to false.


  You can now view your Streamlit app in your browser.

  Local URL: http://localhost:8501
  Network URL: http://172.28.0.12:8501
  External URL: http://34.67.31.251:8501

  Stopping...
  Stopping...

In [51]:
!pip install streamlit pyngrok --quiet
!ngrok authtoken 2tI3SHHlTtVuCkq1dx6GmkNGE6I_yiyjjPd9HKXHTkwBKczc

Authtoken saved to configuration file: /root/.config/ngrok/ngrok.yml

In [79]:
import os
import time
from pyngrok import ngrok
#expose the port using ngrok
public_url = ngrok.connect(8501)
print(f"Streamlit is running at: {public_url}")

#start streamlit in the background
!streamlit run app.py --server.port 8501

#wait for streamlit to start
time.sleep(5)

#expose the port using ngrok
public_url = ngrok.connect(8501)
print(f"Streamlit is running at: {public_url}")

Streamlit is running at: NgrokTunnel: "https://ea4b-34-67-31-251.ngrok-free.app" -> "http://localhost:8501"

Collecting usage statistics. To deactivate, set browser.gatherUsageStats to false.


  You can now view your Streamlit app in your browser.

  Local URL: http://localhost:8501
  Network URL: http://172.28.0.12:8501
  External URL: http://34.67.31.251:8501

  Stopping...
  Stopping...
Streamlit is running at: NgrokTunnel: "https://0bc2-34-67-31-251.ngrok-free.app" -> "http://localhost:8501"